html, body {
  padding: 0;
  margin: 0;
  transition: all .3s;
}


::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: var(--el-color-primary-light-9);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary-light-7);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary-light-5);
}
::-webkit-scrollbar-button {
  background-color: #eee;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: black;
}

.v-md-mermaid svg .actor {
  fill: var(--el-color-primary-light-9) !important;
  stroke: var(--el-color-primary-light-7) !important;
}
.v-md-mermaid svg g line {
  stroke: var(--el-color-primary-light-7) !important;
}
.v-md-mermaid svg g.nodes g rect {
  fill: var(--el-color-primary-light-9) !important;
  stroke: var(--el-color-primary-light-7) !important;
}
.v-md-mermaid .messageLine0 {
  stroke: var(--el-color-primary-light-7) !important;
}
.v-md-mermaid .labelBox {
  fill: var(--el-color-primary-light-9) !important;
  stroke: var(--el-color-primary-light-7) !important;
}

html.dark foreignObject, html.dark foreignObject .nodeLabel{
  color: white !important;
}
html.dark svg tspan , html.dark .labelText, html.dark text.loopText {
  fill: white !important;
}
html.dark .v-md-mermaid .messageText {
  fill: white !important;
  stroke: white !important;
}
.v-md-mermaid .messageText {
  stroke-width: 0;
}

.v-md-plugin-tip.tip {
  background-color: var(--el-color-primary-light-9) !important;
  border-color: var(--el-color-primary-light-5) !important;
}
.v-md-editor__todo-list li .v-md-editor__todo-list-checkbox--checked{
  background-color: var(--el-color-primary) !important;
  border-color: var(--el-color-primary) !important;
}
html.dark .v-md-editor__todo-list li .v-md-editor__todo-list-checkbox--checked{
  background-color: var(--el-color-primary-light-5) !important;
  border-color: var(--el-color-primary-light-5) !important;
}

html.dark .v-md-pre-wrapper {
  background-color: var(--el-menu-text-color) !important;
}

html.dark img[alt="LOGO"] {
  filter: invert(1) hue-rotate(180deg);
}

html.dark .v-md-pre-wrapper .line-numbers-wrapper{
  background-color: var(--el-color-primary-dark-2) !important;
}

.github-markdown-body code, .github-markdown-body pre {
  font-family: '微软雅黑' !important
}

.expanded {
  flex-grow: 1;
}

blockquote {
  margin: 1em 0;
  padding: 8px 20px !important;
  border-left: 4px solid var(--el-color-primary) !important;
  background: var(--el-color-primary-light-9);
}